h1 {
	font-size:50px;
	font-style:bold;
	text-align:center;
}	

/* Menu atas */
.fly{
	background: -webkit-linear-gradient(left, #ccc, #999);
	background: -moz-linear-gradient(left, #ccc, #999);
	background: -o-linear-gradient(left, #ccc, #999);
	background: -ms-linear-gradient(left, #ccc, #999);
	background: linear-gradient(left, #ccc, #999);
	font-family: "Segoe Print";
	font-size: 20px;
	height: 70px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
}
	.fly .logo {
		position: relative;
		left: 5px;
		top: 5px;
	}
	.fly .content {
		position: absolute;
		right: 5px;
		top: 0;
		width: 85%;
	} 
	.fly .content ul{
		list-style-type: none;
		float: right;
	}
		.fly .content ul li{
			display: inline;
		}
			.fly .content ul li a{
				display: inline-block;
				text-decoration: none;
				padding: 7px 10px;
				border-right: 2px solid rgba(255, 255, 255, 0.125);
				color: #f8f8f8;
				font-weight: bold;
			}

/* Content untuk semua */
.content{
	max-width: 1920px;
	margin: 0 auto;
}

.main{
		float:center;
	/*script tambahan khusus untuk IE */
		scrollbar-face-color: #CE7E00; 
		scrollbar-shadow-color: #FFFFFF; 
		scrollbar-highlight-color: #6F4709; 
		scrollbar-3dlight-color: #11111; 
		scrollbar-darkshadow-color: #6F4709; 
		scrollbar-track-color: #FFE8C1; 
		scrollbar-arrow-color: #6F4709;
}
	.main .atas{
		margin-top:100px;
	}
		.main .atas .gambar{
			position:relative;
		}
		.main .atas .judul{
			font-family: "Segoe Print";
			font-size: 30px;
			height: 50px;
			left: right;
			top: 0;
			width: 100%;
			background-color: #96C2F8;
		}
	.main .content{
		margin-top:100px;
		margin-bottom: 0px
	}

/* Bagian Footer */
.footer{
	background: -webkit-linear-gradient(right, #ccc, #999);
	background: -moz-linear-gradient(right, #ccc, #999);
	background: -o-linear-gradient(right, #ccc, #999);
	background: -ms-linear-gradient(right, #ccc, #999);
	background: linear-gradient(right, #ccc, #999);
	bottom: 0;
	width: 100%;
}
	.footer .content{	
		font-size: 12px;
		height: 24px;
		text-align: center;
		bottom: 0:
	}